Source: python-efl
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Section: python
Priority: optional
Build-Depends: dh-python, python-all (>= 2.6.6-3), debhelper (>= 9), libefl-dev (>= 1.24.0-1bionic0), python-dbus-dev (>= 0.83.0), python-all-dev, python3-all, python3-all-dev
Standards-Version: 3.9.5

Package: python-efl
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: Python bindings for Enlightenment Foundation Libraries
 EFL is a collection of libraries for handling many common tasks a
 developer man have such as data structures, communication, rendering,
 widgets and more.
 . 
 PYTHON-EFL are the python bindings for the whole EFL stack (eo, evas, ecore,
 edje, emotion, ethumb and elementary)

Package: python3-efl
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, python3
Description: Python3 bindings for Enlightenment Foundation Libraries
 EFL is a collection of libraries for handling many common tasks a
 developer man have such as data structures, communication, rendering,
 widgets and more.
 . 
 PYTHON-EFL are the python bindings for the whole EFL stack (eo, evas, ecore,
 edje, emotion, ethumb and elementary)
