Package: bodhi-quickstart
Version: 1.6.0
Section: misc
Priority: optional
Architecture: all
Depends: ttf-ubuntu-font-family
Installed-Size:
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Quickstart Guide
 Bodhi Quick Start Guide Files
