Package: exterminator
Version: 0.2.4bodhi5
Section: x11
Priority: optional
Architecture: all
Depends: python, python-efl, python-elm-extensions, python-psutil
Maintainer: Jeff Hoogland <JeffHoogland@Linux.com>
Homepage: https://github.com/JeffHoogland/Exterminator
#Vcs-Browser: https://github.com/Feneric/bodhi3packages
Description: EFL Task Manager
 Exterminator is a GUI application for Bodhi Linux.
 .
 A lightweight and desktop-independent task manager based on
 the EFL toolkit and written in python.  It allows monitoring 
 and controlling of running processes. 
