Package: epad
Version: 0.9.4bodhi7
Section: main
Priority: optional
Architecture: all
Depends: python-efl, python-elm-extensions
Maintainer: Jeff Hoogland
Description: ePad Text Editor
 An Elementary GUI for editing text files
