Package: bodhi-desktop
Version: 5.0.0bodhi2
Section: main
Priority: optional
Depends: bodhi-icons, bodhi-lightdm-theme, bodhi-slideshow, bodhi-skel, moksha, bash-completion, lupin-casper, policykit-desktop-privileges, packagekit, lxmenu-data, xdg-utils, bodhi-quickstart, pm-utils
Recommends: eepdater, epad, ephoto, pcmanfm, bc, terminology, esudo, bodhi-plymouth-theme, bodhi-plymouth-text, arandr, bodhi-theme-terminology-chrome, bodhi-appcenter, gdebi, gdebi-bodhi-launcher, places-moksha, moksha-pulsemixer, moksha-clipboard, udisks2, elaptopcheck, apturl-elm
Architecture: all
Maintainer: Jeff Hoogland
Description: Bodhi Moksha Desktop
 A Bodhi meta-package that pulls in Bodhi related packages for 
 the Moksha Desktop
