Source: terminology
Section: x11
Priority: optional
Maintainer: Arthur (Niko2040) Nikitenko <niko2040@bynets.ru>
Build-Depends: debhelper (>= 9), libfreetype6-dev, libefl-dev, libexpat1-dev, meson
Standards-Version: 3.9.6
Homepage: http://enlightenment.org
#Vcs-Git: git://git.debian.org/collab-maint/terminology.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/terminology.git;a=summary

Package: terminology
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Terminology
 Terminal emulator written with the EFL.

#Package: terminology-doc
#Architecture: all
#Description: documentation for terminology
# <insert long description, indented with spaces>
