Package: bodhi-rosa
Version: 1.1.20
Section: misc
Priority: optional
Architecture: all
Depends: gnome-icon-theme
Homepage: http://www.rosalinux.com
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Rosa Icon Set
 ROSA icons theme. Designed for Mandriva.
 .
 Based on the original icon theme Elementary by Daniel Fore (Dan Rabbit).
