Package: bodhi-slideshow
Version: 0.64
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Slideshow
 Contains Bodhi's installer slides.
