[Desktop Entry]
Name=Bodhi AppCenter
Name[pt-BR]=Bodhi AppCenter
Name[ca]=Centre d'Aplicacions de Bodhi
Name[cy]=Bodhi Canolfan App
Name[es]=Bodhi AppCenter
Name[de]=Bodhi AppCenter
Name[fr]=Bodhi AppCenter
Name[lt]=Bodhi programų centras
Name[nl]=Bodhi applicatiebeheer
Name[nl_BE]=Bodhi applicatiebeheer
Name[ru]=Центр приложений Bodhi
Name[sk]=Bodhi AppCenter
GenericName=Install Software
GenericName[pt-BR]=Instalar software
GenericName[ca]=Instal·lar programari
GenericName[cy]=Gosod meddalwedd
GenericName[es]=Instalar Software
GenericName[de]=Software installieren
GenericName[fr]=Installer des logiciels
GenericName[lt]=Programų diegimas
GenericName[nl]=Programmatuur installeren
GenericName[nl_BE]=Programmatuur installeren
GenericName[ru]=Установка программ
GenericName[sk]=Inštalácia Softvéru
Comment=Online Software Center
Comment[pt-BR]=Central de software online
Comment[ca]=Centre de programari en línia
Comment[cy]=Canolfan feddalwedd ar-lein
Comment[es]=Repositorio de Software en Línea
Comment[de]=Online Software Center
Comment[fr]=Centre logiciel en ligne
Comment[lt]=Internetinis programų centras
Comment[nl]=Programmatuurbeheer via internet
Comment[nl_BE]=Programmatuurbeheer via internet
Comment[ru]=Интернет-репозиторий программного обеспечения
Comment[sk]=Online Centrum Aplikácií
Exec=x-www-browser http://appcenter.bodhilinux.com
Icon=system-software-install
Terminal=false
